
.rainbow {
    display: inline-block; /* Necesario para que el gradiente funcione correctamente */
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% 200%; /* Aumenta el tamaño del background para una animación fluida */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 5s linear infinite; /* Ajusta la duración según tu preferencia */
}


@keyframes rainbow-animation {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 400px;
    background-color: #f0f0f0; 
}

#coloreado {
    background-color: #333;
    padding: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}